MACHINE ??= "ast2500-default"
#MACHINE ??= "ast2500-default-54"

DISTRO ?= "openbmc-phosphor"
PACKAGE_CLASSES ?= "package_ipk"
SANITY_TESTED_DISTROS:append ?= " *"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"
CONF_VERSION = "2"
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = " \
  usermod -p '\$1\$UGMqyqdG\$FZiylVFmRRfl9Z0Ue8G7e/' root; \
  "

# Change time zone to local time from UTC for applying localtime
# in kernel build time.
TZ = '/etc/localtime'

# Enable both of them if BMC flash model is Cypress S25Hxx and 2-bit ECC is enabled.
#require conf/machine/include/cypress-s25hx.inc
#require conf/machine/include/static-rwfs.inc

# Free Open Source Software (FOSS) Creation
# INHERIT += "archiver"
# ARCHIVER_MODE[src] = "original"
# ARCHIVER_MODE[recipe] = "1"
# COPYLEFT_LICENSE_INCLUDE = "*"
