[Unit]
Description=BMC Attestation Emulator

[Service]
Restart=always
WorkingDirectory=/usr/share/spdm-emu
ExecStart=/usr/bin/spdm_responder_emu \
        --ver 1.0 \
        --cap CERT,CHAL,MEAS_SIG \
        --hash SHA_384 \
        --meas_spec DMTF \
        --meas_hash SHA_384 \
        --asym ECDSA_P384 \
        --req_asym ECDSA_P384 \
        --basic_mut_auth NO \
        --slot_id 0 \
        --mut_auth NO \
        --meas_sum NO \
        --meas_op ONE_BY_ONE \
        --meas_att HASH \
        --exe_mode SHUTDOWN \
        --exe_conn VER_ONLY,DIGEST,CERT,CHAL,MEAS \
        --trans NONE
RestartSec=5
StartLimitInterval=0
Type=simple
StandardOutput=null

[Install]
WantedBy=multi-user.target

