MACHINE ??= "ast2600-default"
#MACHINE ??= "ast2600-default-510"
#MACHINE ??= "ast2600-default-515"
#MACHINE ??= "ast2600-ecc"
#MACHINE ??= "ast2600-emmc"
#MACHINE ??= "ast2600-emmc-secure"
#MACHINE ??= "ast2600-ncsi"
#MACHINE ??= "ast2600-pfr"
#MACHINE ??= "ast2600-usbadp"
#MACHINE ??= "ast2600-secure-rsa2048-sha256"
#MACHINE ??= "ast2600-secure-rsa2048-sha256-ncot"
#MACHINE ??= "ast2600-secure-rsa2048-sha256-o1"
#MACHINE ??= "ast2600-secure-rsa2048-sha256-o2-pub"
#MACHINE ??= "ast2600-secure-rsa3072-sha384"
#MACHINE ??= "ast2600-secure-rsa3072-sha384-o1"
#MACHINE ??= "ast2600-secure-rsa3072-sha384-o2-pub"
#MACHINE ??= "ast2600-secure-rsa4096-sha512"
#MACHINE ??= "ast2600-secure-rsa4096-sha512-o1"
#MACHINE ??= "ast2600-secure-rsa4096-sha512-o2-pub"
#MACHINE ??= "ast2600-a2"
#MACHINE ??= "ast2600-a2-ecc"
#MACHINE ??= "ast2600-a2-emmc"
#MACHINE ??= "ast2600-a2-emmc-secure"
#MACHINE ??= "ast2600-a2-secure-rsa2048-sha256"
#MACHINE ??= "ast2600-a2-secure-rsa2048-sha256-ncot"
#MACHINE ??= "ast2600-a2-secure-rsa2048-sha256-o1"
#MACHINE ??= "ast2600-a2-secure-rsa2048-sha256-o2-pub"
#MACHINE ??= "ast2600-a2-secure-rsa3072-sha384"
#MACHINE ??= "ast2600-a2-secure-rsa3072-sha384-o1"
#MACHINE ??= "ast2600-a2-secure-rsa3072-sha384-o2-pub"
#MACHINE ??= "ast2600-a2-secure-rsa4096-sha512"
#MACHINE ??= "ast2600-a2-secure-rsa4096-sha512-o1"
#MACHINE ??= "ast2600-a2-secure-rsa4096-sha512-o2-pub"
#MACHINE ??= "ast2600-a1"
#MACHINE ??= "ast2600-a1-ecc"
#MACHINE ??= "ast2600-a1-secure-rsa2048-sha256"
#MACHINE ??= "ast2600-a1-secure-rsa2048-sha256-ncot"
#MACHINE ??= "ast2600-a1-secure-rsa2048-sha256-o1"
#MACHINE ??= "ast2600-a1-secure-rsa2048-sha256-o2-pub"
#MACHINE ??= "ast2600-a1-secure-rsa3072-sha384"
#MACHINE ??= "ast2600-a1-secure-rsa3072-sha384-o1"
#MACHINE ??= "ast2600-a1-secure-rsa3072-sha384-o2-pub"
#MACHINE ??= "ast2600-a1-secure-rsa4096-sha512"
#MACHINE ??= "ast2600-a1-secure-rsa4096-sha512-o1"
#MACHINE ??= "ast2600-a1-secure-rsa4096-sha512-o2-pub"
#MACHINE ??= "ast2605-default"

DISTRO ?= "openbmc-phosphor"
PACKAGE_CLASSES ?= "package_ipk"
SANITY_TESTED_DISTROS:append ?= " *"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
CONF_VERSION = "2"
INHERIT += "extrausers"
EXTRA_USERS_PARAMS = " \
  usermod -p '\$1\$UGMqyqdG\$FZiylVFmRRfl9Z0Ue8G7e/' root; \
  "

# Change time zone to local time from UTC for applying localtime
# in kernel build time.
TZ = '/etc/localtime'

require conf/machine/include/obmc-bsp-common.inc

# AST2600 Alternate Boot Record feature
#require conf/machine/include/ast-abr.inc

# Free Open Source Software (FOSS) Creation
# INHERIT += "archiver"
# ARCHIVER_MODE[src] = "original"
# ARCHIVER_MODE[recipe] = "1"
# COPYLEFT_LICENSE_INCLUDE = "*"
