Xml=key_manifest1_image.xml
Output=key_manifest1_image.bin
Key=prikey_2048.pem
Signing_Key=pubcsk8_2048.pem
Signing_Key=pubcsk9_2048.pem
Signing_Key=pubcsk10_2048.pem
Signing_Key=pubcsk11_2048.pem
Signing_Key=pubcsk12_2048.pem
Signing_Key=pubcsk13_2048.pem
Signing_Key=pubcsk14_2048.pem
Signing_Key=pubcsk15_2048.pem
