[Unit]
Description=turn on net usb gadget
Wants=multi-user.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/usbA-net.sh
ExecStop=/usr/bin/usbA-net.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
