[Unit]
Description=turn on net usb gadget
Wants=multi-user.target
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/netusb.sh
ExecStop=/usr/bin/netusb.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
