Xml=key_manifest0_image.xml
Output=key_manifest0_image.bin
Key=prikey_2048.pem
Signing_Key=pubcsk0_2048.pem
Signing_Key=pubcsk1_2048.pem
Signing_Key=pubcsk2_2048.pem
Signing_Key=pubcsk3_2048.pem
Signing_Key=pubcsk4_2048.pem
Signing_Key=pubcsk5_2048.pem
Signing_Key=pubcsk6_2048.pem
Signing_Key=pubcsk7_2048.pem
