[Unit]
Description=Intel Power Control for the Host %i
ConditionPathExists=/usr/share/sophgo-power-control/power-config-host%i.json

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/sophgo-power-control %i
Type=dbus
BusName=xyz.openbmc_project.State.Host%i

[Install]
WantedBy=sysinit.target
