[Unit]
Description=Asserts BMC_BOOT_DONE
After=basic.target

[Service]
Type=simple
ExecStart=/usr/bin/bmc-boot-done.sh

[Install]
WantedBy=multi-user.target
