[Unit]
Description=BMC Boot Complete Check Point

[Service]
Type=oneshot
RemainAfterExit=no

# It took 7 seconds to erase and write flash, be conservative
TimeoutStartSec=60
Restart=no

ExecStart=/usr/bin/aspeed-pfr-tool --checkpoint complete

[Install]
WantedBy=multi-user.target
