[DHCP]
SendHostname=true
UseHostname=true
UseDomains=true
UseDNS=true
UseNTP=true
ClientIdentifier=mac
[IPv6AcceptRA]
DHCPv6Client=true
[Network]
DHCP=false
IPv6AcceptRA=false
DNS=10.116.57.200
DNS=10.110.57.200
NTP=ntp-01.sf-express.com
LinkLocalAddressing=yes
Gateway=10.10.120.253
[Address]
Address=10.10.120.211/25
[Link]
[Match]
Name=eth0
